<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
      <header style="margin-bottom: 100px">
          <!--Navbar starts here-->
          <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <a class="navbar-brand" href="home.html">
                    <img src="https://dcassetcdn.com/design_img/10150/1674/1674_291334_10150_thumbnail.jpg" height="60px" class="img-responsive align-top" alt="">
                    
                  </a>
                
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      
                      <li class="nav-item">
                        <a class="nav-link" href="catalog.auth.html">Catalog</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="favorite.html">My favorite</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="profile.html">profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="addnew.html">Add new</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="view.html">View</a>
                      </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <a class="btn btn-secondary nav-link" href="login.html">Logout</a>
                    </form>
                  </div>
                </nav>
      </header>
  
    <section class="container" style="margin-top:10px">
        
        <div class="row">
            <div class="row">
                <div class="col-md-8" style="margin:30px 0 60px 0;">
                    <h2>Add New</h2>
                    <div class="" style="margin-top:10px">
                          
                        <div class="col-md-12">
                              <form>
                                      
                                        <div class="form-group">
                                          <label for="disabledTextInput">Title</label>
                                          <input type="text" id="disabledTextInput" class="form-control" placeholder="Enter Title">
                                        </div>
                                        <div class="form-group">
                                              <label for="disabledTextInput">Ingredient</label>
                                              <input type="text" id="disabledTextInput" class="form-control" placeholder="Ingredient e.g water,peper,seasoning etc">
                                            </div>
                                            <div class="form-group">
                                                  <label for="disabledTextInput">Description</label>
                                                  <textarea class="form-control" rows="5" id="comment"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputFile">Upload image</label>
                                                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                            </div>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                      
                                    </form>
                        </div>
                    </div>    
              </div>
          <div class="col-md-3">
            <div class="container">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <h2>Favorited</h2>
                    <div class="card" style="margin-bottom:5px">
                        <div class="card-header">
                          <a href="details.html">Recipe one</a>
                        </div>
                        <div class="card-block">
                          <blockquote class="card-blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                          </blockquote>
                        </div>
                      </div>
                      <div class="card" style="margin-bottom:5px">
                          <div class="card-header">
                              <a href="details.html">Recipe two</a>
                          </div>
                          <div class="card-block">
                            <blockquote class="card-blockquote">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                              <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                          </div>
                        </div>
                </div>
                  
              </div>
            </div>
              
              
          </div>    
        </div>
         
    </section>
      <footer style="margin-top:10px">
      <!-- As a heading -->
      <nav class="navbar navbar-light bg-faded">
            <h1 class="navbar-brand mb-0">&copy <a class="navbar-brand" href="#">Sulenchy</a> 2017</h1>
      </nav>
      </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>