<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
      <header>
            <!--Navbar starts here-->
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                      <img src="https://dcassetcdn.com/design_img/10150/1674/1674_291334_10150_thumbnail.jpg" height="100px" class="img-responsive align-top" alt="">
                      
                    </a>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="login.html">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Add New</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search for recipes">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>
      </header>
      <section class="row container" style="margin-top:10px">
            <div class="col-md-5">
            </div>
            <div class="col-md-4">
                <h3>Login Here</h3>
                    <div class="container">
                            <form>
                              <div class="form-group row">
                                <label for="inputEmail" class="col-sm-12 col-form-label">Email</label>
                                <div class="col-sm-12">
                                  <input type="email" class="form-control form-control-success" id="inputEmail" placeholder="name@example.com">
                                </div>
                              </div>
                              <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-12 col-form-label">Password</label>
                                    <div class="col-sm-12">
                                      <input type="password" class="form-control form-control-success" id="inputPassword" placeholder="e.g. !victor52b">
                                    </div>
                                  </div>
                                  <a class="btn btn-primary" href="user-profile.html" role="button">Login</a>
                                  <hr>
                                  <h6>Not a registered User? <a class="btn btn-primary" href="signup.html" role="button">Sign-Up</a></h6>
                                  
                            </form>
                          </div>
            </div>
                  

      </section>
      <footer style="margin-top:10px">
      <!-- As a heading -->
      <nav class="navbar navbar-light bg-faded">
            <h1 class="navbar-brand mb-0">&copy <a class="navbar-brand" href="#">Sulenchy</a> 2017</h1>
      </nav>
      </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>