<!doctype html>
<html lang="en">
  <head>
    <title>More Recipes Index</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <header class="container-fluid">
            <div class="row">
                    
                    <img src="https://cdn0.iconfinder.com/data/icons/illustricon-tech-iv/512/book-64.png" alt="More-recipe logo"/>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Getting Started</a>
                </li>
                    
            </ul>
            </div>
    </header>

    <section class="container-fluid">
            <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <span class="anchor" id="formLogin"></span>
            
                                <!-- form card login -->
                                <div class="card rounded-0">
                                    <div class="card-header">
                                        <h3 class="mb-0">Login</h3>
                                    </div>
                                    <div class="card-body">
                                        <form class="form" role="form" autocomplete="off" id="formLogin">
                                            <div class="form-group">
                                                <label for="uname1">Username</label>
                                                <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required="">
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">
                                            </div>
                                            <div>
                                                <label class="custom-control custom-checkbox">
                                                  <input type="checkbox" class="custom-control-input">
                                                  <span class="custom-control-indicator"></span>
                                                  <span class="custom-control-description small">Remember me on this computer</span>
                                                </label>
                                            </div>
                                            <button type="button" class="btn btn-success btn-lg float-right">Login</button>
                                        </form>
                                    </div>
                                    <!--/card-block-->
                                </div>
                                <!-- /form card login -->
            
                            </div>
            
            
                        </div>
                        <!--/row-->
            
                    </div>
                    <!--/col-->
                </div>
                <!--/row-->
        
    </section>

    <footer class="container-fluid">
        <h5>&copy More-Recipes 2017</h5>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>