<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>
  <body>
      <header style="margin-bottom: 100px">
          <!--Navbar starts here-->
          <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <a class="navbar-brand" href="index.html">
                    <img src="https://dcassetcdn.com/design_img/10150/1674/1674_291334_10150_thumbnail.jpg" height="60px" class="img-responsive align-top" alt="">
                    
                  </a>
                
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      
                      <li class="nav-item">
                        <a class="nav-link" href="catalog.html">Catalog</a>
                      </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <a class="btn btn-secondary nav-link" href="login.html">Login</a>
                    </form>
                  </div>
                </nav>
      </header>
      <section class="container" style="margin-top:10px">
          
          <div class="row">
            <div class="col-md-9">
                <div class="col-md-6" style="margin:0 auto; width:60%;padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                  <h3>Sign-up Here</h3>
                  <div class="container">
                    <form>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-12 col-form-label">Email</label>
                        <div class="col-sm-12">
                          <input type="email" class="form-control form-control-success" id="inputEmail" placeholder="name@example.com">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="inputEmail" class="col-sm-12 col-form-label">Full name</label>
                          <div class="col-sm-12">
                            <input type="email" class="form-control form-control-success" id="inputEmail" placeholder="Enter full name">
                          </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-12 col-form-label">City</label>
                            <div class="col-sm-12">
                              <input type="email" class="form-control form-control-success" id="inputEmail" placeholder="Enter city">
                            </div>
                          </div>
                          <div class="form-group row">
                              <label for="inputEmail" class="col-sm-12 col-form-label">Country</label>
                              <div class="col-sm-12">
                                <input type="email" class="form-control form-control-success" id="inputEmail" placeholder="Enter your country">
                              </div>
                            </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-12 col-form-label">Password</label>
                        <div class="col-sm-12">
                          <input type="password" class="form-control form-control-success" id="inputPassword" placeholder="e.g. !victor52b">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="inputPassword" class="col-sm-12 col-form-label">Retype Password</label>
                          <div class="col-sm-12">
                            <input type="password" class="form-control form-control-success" id="inputPassword" placeholder="e.g. !victor52b">
                          </div>
                        </div>
                      <div class="form-group row">
                          <div class="col-sm-12">
                              <a class="btn btn-primary" href="login.html" role="button"><i class="fa fa-user-plus" aria-hidden="true"></i> Signup</a>
                          </div>
                          <hr>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="container">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-11">
                      <h2 class="#">favorite</h2>
                      <div class="card" style="margin-bottom:5px">
                          <div class="card-header">
                            <a href="details.html">Recipe one</a>
                          </div>
                          <div class="card-block">
                            <blockquote class="card-blockquote">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                              <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                          </div>
                        </div>
                        <div class="card" style="margin-bottom:5px">
                            <div class="card-header">
                                <a href="details.html">Recipe two</a>
                            </div>
                            <div class="card-block">
                              <blockquote class="card-blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                              </blockquote>
                            </div>
                          </div>
                  </div>
                    
                </div>
              </div>
            </div>    
          </div>
           
      </section>
      <footer style="margin-top:10px">
      <!-- As a heading -->
      <nav class="navbar navbar-inverse bg-inverse">
            <h1 class="navbar-brand mb-0">&copy <a class="navbar-brand" href="#">Sulenchy</a>2017</h1>
      </nav>
      </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>